<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no,
	initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>PassworDoer</title>
	<script type="text/javascript">
		var script_root = {{ request.script_root|tojson|safe }};
	</script>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
</head>
<body>
	<div class="contenedor">
		<div class="signin" id="signin">
			<div class="signin_header">
				<h2>Sign in with an existing wallet</h2>
			</div>
			<div class="words_stored" id="words_stored">
				A words keystore is on the local storage
			</div>
			<div class="address_stored" id="address_stored">
				An address keystore is on the local storage
			</div>
			<div class="wallet_stored" id="wallet_stored">
				A wallet keystore is on the local storage. Type the password to decrypt it
			</div>
			<div class="choose_file" id="select_wallet_btn">
				<span>Wallet File *</span>&nbsp&nbsp <span><button onclick="document.getElementById('file-input').click();">Choose File</button></span>&nbsp&nbsp<span id="no_file_chosen"> No file chosen</span>
				<input id="file-input" type="file" name="name" style="display:none;" />
			</div>
			<div class="signin_pwd">
				<input class="text-box" id="signin_password" type="text" placeholder="Wallet password" />
			</div>
			<div align="center">OR</div>
			<div class="signin_words">
				<input class="text-box" id="signin_words" type="text" placeholder="Wallet 12 words" />
			</div>
			<div class="signin_words_pwd">
				<input class="text-box" id="signin_words_password" type="text" placeholder="Wallet password" />
			</div>
			<div class="signin_btn">
				<span><button onclick="signin()" id="signin_btn">Sign in</button></span>
			</div>
			<div class="remove_words_btn">
				<span><button onclick="remove_words()" id="remove_words_btn">Remove Words Keystore</button></span>
			</div>
			<div class="remove_keystore_btn">
				<span><button onclick="remove_keystore()" id="remove_keystore_btn">Remove Address Keystore</button></span>
			</div>
			<div class="remove_wallet_btn">
				<span><button onclick="remove_wallet()" id="remove_wallet_btn">Remove Wallet Keystore</button></span>
			</div>
			<div class="remove_token_btn">
				<span><button onclick="remove_token()" id="remove_token_btn">Remove Token</button></span>
			</div>
			<div class="not_a_wallet">
				<span>Don't you have a wallet?</span>&nbsp&nbsp<span><a href="#" onclick="doGoRegister()">Sign up instead</a></span>
			</div>
		</div>
		<div class="register" id="register">
			<div class="register_header">
				<h2>SignUp</h2>
				<p>Your wallet is your account. Create an ETH wallet to get started with your account</p>
			</div>
			<div class="signup_pwd">
				<div class="signup_pwd_block">
					<p>Wallet Password *</p>
					<input id="signup_password" type="text" placeholder="Choose password" />
				</div>
				<div class="signup_pwd_confirm_block">
					<p>Confirm Wallet Password *</p>
					<input id="confirm_signup_password" type="text" placeholder="Retype password" />
				</div>
				<div class="signup_btn">
					<button onclick="signup()" id="signup_btn">Sign up</button>
				</div>
			</div>
		</div>
		<div class="bk_wallet" id="bk_wallet">
			<div class="bk_wallet_header">
				<h2>Back up your new wallet</h2>
				<p>We highly recommend that you download this backup file and keep it in a safe place. If you lose this file and forget your Wallet
					password, you will not be able to access this account and all funds associated with it. Both this file and your password are handled
					locally on your pc and in your browser: we cannot help you recover anything, so please take a minuto to do this now.
				</p>
			</div>
			<div class="bk_user_details">
				<p> <b>User:</b>&nbsp &nbsp <span id="bk_user"></span> </p>
				<p> <b>Balance:</b> &nbsp &nbsp <span id="bk_balance"></span> </p>
				<p> <b>PrivateKey:</b> &nbsp &nbsp <span id="bk_privatekey"></span> </p>
				<p> <b>Words:</b> &nbsp &nbsp <span id="bk_words"></span> </p>
			</div>
			<div class="bk_wallet_btn">
				<button onclick="doBackupWalletFile()" id="bk_wallet_btn">Download Wallet Backup File</button>
				<button onclick="doBackupWordsFile()" id="bk_words_btn">Download Words Backup File</button>
				<button onclick="doSavedWords()" id="bk_saved_words_btn">I have saved the words</button>
				<!--<a href='#' onclick="bk_wallet()" id="bk_wallet_btn">Download Backup File</a>-->
			</div>
		</div>
		<div class="dentro" id="dentro">
			<div class="signin_header">
				<h2>Welcome!</h2>
			</div>
			<div class="user_details">
				<p> <b>User:</b>&nbsp &nbsp <span id="user"></span> </p>
				<p> <b>Token:</b> &nbsp &nbsp <span id="token"></span> </p>
				<p> <b>Balance:</b> &nbsp &nbsp <span id="balance"></span> </p>
			</div>
			<div class="transact_form">
				<p>Transact</p>
				<div class="transact_pwd_block">
					<p>Wallet Password *</p>
					<input id="transact_password" type="text" placeholder="Password" />
					<p>Recipient address *</p>
					<input id="transact_to_address" type="text" placeholder="0x...." />
					<p>Value in ETH *</p>
					<input id="transact_value" type="text" placeholder="0.1"/>
				</div>
				<div class="transact_btn">
					<button onclick="transact()" id="transact_btn">Transaction test</button>
				</div>
			</div>
			<div class="words_form" id="words_form">
				<p>Retrieve mnemonics (if available on local storage)</p>
				<p>Words Encryption Password *</p>
				<input id="words_password" type="text" placeholder="Password" />
				<span><button onclick="retrieveWords()" id="words_btn">Retrieve words</button></span>
			</div>
			<div class="logout_btn">
				<span><button onclick="logout()" id="logout_btn">Log Out</button></span>
			</div>
		</div>
	</div>
	<!-- CHECK TOKEN -->
	<script src="{{ url_for('static',filename='scripts/environment_vars.js') }}"></script>
	<script src="{{ url_for('static',filename='scripts/localforage.min.js') }}"></script>
	<!-- bower:js -->
<!-- BIP39 -->
<script src="{{ url_for('static',filename='scripts/jsbip39/unorm.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/jsbip39/sjcl-bip39.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/jsbip39/wordlist_english.js') }}"></script>
<script src="{{ url_for('static',filename='scripts/jsbip39/jsbip39.js') }}"></script>
<!-- BIP39 -->

	<script src="{{ url_for('static',filename='scripts/bignumber.js') }}"></script>
	<script src="{{ url_for('static',filename='scripts/crypto-js/index.js') }}"></script>
	<script src="{{ url_for('static',filename='scripts/web3.js') }}"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js scripts/main.js -->

	<script src="{{ url_for('static',filename='scripts/hdkey.min.js') }}"></script>
	<script src="{{ url_for('static',filename='scripts/eth-sig-util/eth-sig-util.js') }}"></script>
	<script src="{{ url_for('static',filename='scripts/ethereumjs/ethereumjs-util.js') }}"></script>
	<script src="{{ url_for('static',filename='scripts/passwordoer_sig.js') }}"></script>
	<!-- endbuild -->

</body>
</html>
