* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

p {
	word-break: break-all;
}
body {
	font-family: 'Open Sans', sans-serif;
	background: #FFF;
	color: #5a5858;
}

/*sizes of the textboxes*/
input[type="email"], input[type="password"], input[type="text"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height:42px;
	width: 300px;
	/*margin-bottom: 30px;*/
	padding: 0 20px;
	align-self: center;
}

/* Normal white Button as seen on Google.com*/
button {
    color: white;
    background: #4C8FFB;;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 9pt;
    outline: none;
		width: 100px;
		align-self: center;
}

button:hover {
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
}

.contenedor {
	margin: auto;
	width: 90%;
	max-width: 1000px;
	display: flex;
	flex-direction:column;
	flex-wrap:wrap;
	justify-content: space-between;
	padding: 20px;
}
.contenedor .dentro {
	display: none;
	width: 100%;
	background: white;
	padding: 10px;
	flex-direction: row;
	justify-content: flex-start;
	border: 1px solid grey;
	flex-wrap: wrap;
}
.contenedor .dentro .user_details {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.contenedor .dentro .logout_btn {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedor .dentro .transact_form {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.contenedor .dentro .words_form {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.contenedor .signin {
	width: 100%;
	background: white;
	padding: 10px;
	display: none;
	flex-direction: column;
	justify-content: center;
	border: 1px solid grey;
}

.contenedor .signin .signin_header {
	width: 100%;
	padding: 10px;
	text-align: center;
}

.contenedor .signin .wallet_stored {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedor .signin .words_stored {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedor .signin .address_stored {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedor .signin .choose_file {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content:center;
}

.contenedor .signin .signin_words {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedor .signin .signin_pwd {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedor .signin .signin_words_pwd {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedor .signin .signin_file_pwd {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.contenedor .signin .signin_btn {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedor .signin .remove_words_btn {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.contenedor .signin .remove_keystore_btn {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedor .signin .remove_token_btn {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedor .signin .remove_wallet_btn {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.contenedor .signin .not_a_wallet {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}







.contenedor #register {
	width: 100%;
	background: white;
	padding: 10px;
	display: none;
	flex-direction: column;
	justify-content: center;
	border: 1px solid grey;
}

.contenedor .register .register_header {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.contenedor .register .signup_pwd {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.contenedor .register .signup_pwd_block {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.contenedor .register .signup_pwd_confirm_block {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.contenedor .register .signup_pwd_btn {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.contenedor #bk_wallet {
	width: 100%;
	background: white;
	padding: 10px;
	display: none;
	flex-direction: column;
	justify-content: center;
	border: 1px solid grey;
}

.contenedor .bk_wallet .bk_wallet_header {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.contenedor .bk_wallet .bk_wallet_btn {
	width: 100%
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
